# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
ENV/

*.egg-info/
*.egg-info/

.pytest_cache/
.mypy_cache/
.ruff_cache/

# =========================
# Node / Frontend
# =========================

node_modules/
dist/
coverage/

# =========================
# Environment / Secrets
# =========================

.env
.env.*
!.env.example

# =========================
# Terraform
# =========================

.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db